{% if not is_ajax %}

{% for js in jss %}
<script type="text/javascript" src="{{ url_for('static', filename=js) }}"></script>
{% endfor %}

<script type="text/javascript">
    new Vue({

    ready: function() {

      // GET request
      this.$http.get('/someUrl').then(function (response) {

          // get status
          response.status;

          // get all headers
          response.headers();

          // get 'expires' header
          response.headers('expires');

          // set data on vm
          this.$set('someData', response.data)

      }, function (response) {

          // error callback
      });

    }

})
</script>

</body>
</html>
{% endif %}
