{% if not is_ajax %}
<!DOCTYPE html>
<html itemscope itemtype="http://schema.org/Blog" lang="zh-CN">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta content="{{ url_for('static', filename='img/logo.png') }}" itemprop="image">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="author" content="chat@jat.email" />

    <link href="{{ url_for('static', filename='img/logo.png') }}" rel="shortcut icon">

    <title>{{ '{{ title }}' }}</title>
</head>
<body>
{% endif %}
