<!DOCTYPE html>
<html itemscope itemtype="http://schema.org/Blog" lang="zh-CN">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta content="{{ url_for('static', filename='logo.png') }}" itemprop="image">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="author" content="chat@jat.email" />

    <link href="{{ url_for('static', filename='logo.png') }}" rel="shortcut icon">

    <title>Hello World!</title>
</head>
<body>
Hello World!
</body>
</html>
